.p {
  text-align: center;
}

.h1 {
  text-align: center;
}

.ttt {
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
}

.ttt tr td {
  width: 100px;
  height: 100px;
  border: 3px solid #000;
  border-radius: 5px;
  font-family: sans-serif;;
  font-size: 50px;
  text-align: center;
}

.ttt tr td:hover {
  background: tomato;
  cursor: pointer;
}

.container {
  background: blue;
  border-radius: 5px;
  height: 100px;
  width: auto;
  text-align: center;
}

.subcont {
  background: lightblue;
  border-radius: 5px;
  height: 100px;
  text-align: center;
  margin-top: 10px;
}

.subcontb {
  background: orange;
  border-radius: 5px;
  height: 80px;
  text-align: center;
}

.footer {
  display: flex;
  background: red;
  border-radius: 5px;
  height: 100px;
  margin-top: 150px;
  width: auto;
}
